<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title or app.title }} - Toollama.com</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{ app.emoji }}</text></svg>"
    />
    <meta
      name="description"
      content="{{ description or app.description }}"
    />
    <link rel="stylesheet" href="{{ '/assets/css/tl.css' | url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | url }}" />
    {% for file in styles %}
    <link rel="stylesheet" href="{{ '/assets/css/' + file | url }}" />
    {% endfor -%}
  </head>
  <body>
    {{ content | safe }}
  </body>
  {% for file in scripts %}
  <script src="{{ '/assets/js/' + file | url }}" type="module"></script>
  {% endfor -%}
</html>
