---
title: Done!
desciption:
scripts: ['done.js']
styles: []
---

{# Content #}
<div class="content">
    <h1>{{ title }}</h1>
    <p>Great practicing! Share this key with your teacher:</p>
    <p id="key" style="font-size:5rem;font-weight:bold;text-align:center;"></p>
</div>