---
scripts: ['main.js']
styles: []
---

<div class="content">
    <h1>
        <span aria-hidden="true" role='img'>{{ app.emoji }}</span>&nbsp;{{ app.title }}</h1>
    <p>{{ app.description }}</p>
    <form action="practice/" id="create-form">
        <h2>Setup</h2>
        <h3>Operators</h3>
        {% set ops = ['Addition', 'Subtraction', 'Multiplication', 'Division']%}
        {% for op in ops -%}
            <label style="display:block;">
                <input type="checkbox" name="o" value="{{ op | first | lower }}"/>
                &nbsp;
                <b>{{ op }}</b>
            </label>
        {%- endfor %}
        <h3>Numbers</h3>
        {% for i in range(0, 10) -%}
            <label style="display:block;">
                <input type="checkbox" name="n" value="{{ i }}"/>
                &nbsp;
                <b>{{ i }}</b>
            </label>
        {%- endfor %}
        <h3>Settings</h3>
        <label class="field">
            <b>Total number of problems</b><input type="number" name="t"/></label>
        <label class="field">
            <b>Satisfactory number</b>
            <input type="number" name="s"/>
        </label>
        <label class="block">
            <input type="checkbox" name="i"/>
            <b>Allow incorrect answers</b>
        </label>
        <h3>Keys</h3>
        <p id="key-description">Keys are secret words that students see when they have completed the exercises. You can use the keys to a) verify that your students have completed the activity, and b) determine whether they have mastered the skill or not.<br/><br/>It's a good idea to use short words of the same length that aren't related to the activity, like "cat" and "dog".
        </p>
        <label class="field">
            <b>"Satisfactory" key</b>
            <input aria-describedby="key-description" data-name="p-key-dummy"/>
        </label>
        <input hidden="hidden" name="p"/>
        <label class="field">
            <b>"Needs improvement" key</b>
            <input aria-describedby="key-description" data-name="f-key-dummy"/>
        </label>
        <input hidden="hidden" name="f"/>
        <button>Create</button>
    </form>
</div>